<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">--------------------</h5>
    </div>
    <div class="card-footer text-muted"> ©2024 Copyright: FIFA
    </div>
</div>